
.grid-container {
    display: grid;
    /* display: inline; */
    background-color: aquamarine;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 10px;
}



.grid-item1 {
    grid-column: 1 / span 6;
    grid-row: 1;
    background-color: bisque;
    border: 1px solid black;
    padding: 20px;
    grid-row: 1;
}

.grid-item2 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-color: rgb(232, 95, 15);
    border: 2px solid pink;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 10px; */
    padding: 30px;
}

.grid-item3 {
    background-color: chocolate;
    grid-column: 3 / 6;
    grid-row: 2 / 3;
    margin-top: 20px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 30px;
}

.grid-item4 {
    background-color: rgb(12, 244, 54);
    grid-column: 1 / span 6;
    grid-row: 4;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    gap: 2px;
}


.grid-item5 {
    background-color: rgb(12, 244, 54);
    grid-column: 1 / span 6;
    grid-row: 5;cs
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    gap: 2px;
}

.grid-item6 {
    background-color: rgb(12, 244, 54);
    grid-column: 1 / span 6;
    grid-row: 6;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    gap: 2px;
}




/* .grid-item1 { grid-area: box1; }
.grid-item2 { grid-area: box2; }
.grid-item3 { grid-area: box3; }
.grid-item4 { grid-area: box4; }
.grid-item5 { grid-area: box5; }

.grid-item1 {
    width: 200px;
    background-color: blueviolet;
}

.grid-container {
    display: grid;
    /* display: flex; 
    grid-template-areas: 
    'grid-item1 grid-item1 grid-item1 grid-item1 grid-item1'
    height=4000px;
    gap: 10px;
    padding: 10px;
    background-color:brown
    
}

.grid-container div {
    background-color: aqua;
    box-sizing: border-box;
    border: 1px;
    border-style: solid;
}

.grid-item {
    background-color: blueviolet;

} */

/* .grid-item {
    background-color: blue;
    box-sizing: border-box;
    border: 1px;
    border-color: black;
    border-style: solid;
    width: 150px;
    height: 150px;
} */

/* .parent {
    box-sizing: border-box;
    background-color: chocolate;
    color: antiquewhite;
    font-size: 30px;
    font-family: sans-serif;
} */

/* .grid-container {
    display: grid;
} */

/* .parent {
    display: grid;
    /* grid-template-columns: 4;
    grid-template-rows: 3; */


/* .box {
    grid-column: 1 / -1;
} */

/* main {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
} */

/* .box {
    background-color: coral;
    width: 100px;
    height: 100px;
} */

/* main {
    background-color: darkred;
    width: 800px;
    height: 150px;
} */

/* footer {
    background-color: grey;
    width: 1000px;
    height: 150px;
} */

/* .grid-container {
    display: grid;
    grid-template-areas: "header header header header header";
} */

